body {
  background-color: whitesmoke;
}

#first {
  background-color: yellow;
}

.myp {
  background-color: green;
}

.card {
  border: 3px solid blue;
}

.card-content {
  text-decoration: underline;
}